In [2]:
print('Hello!')

Hello!

In [3]:
print('New!')

New!

Markdown Cell - Here you can write notes.

In [6]:
7 % 4

3

In [4]:
50 % 5

0

In [6]:
mystring = 'abcdefghijkl'
mystring[::-1]

'c'

In [5]:
'tinker'[1:4]

'ink'

In [9]:
mystring[3:6]

'def'

In [13]:
mystring[-4:-1]

'ijk'

In [23]:
x = 'Hello World'
x

'Hello World'

In [25]:
x = x + ' it is beautiful outside!'
x

'Hello World it is beautiful outside!'

In [26]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [28]:
x = 'Hello World'
x

'Hello World'

In [29]:
x.upper()

'HELLO WORLD'

In [30]:
x

'Hello World'

In [31]:
x.lower()

'hello world'

In [32]:
x.split()

['Hello', 'World']

In [33]:
x = 'Hi this is a string'

In [34]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [35]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [36]:
s='Sammy'
s[2:]

'mmy'

In [37]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [40]:
print('The {2} {1} {3}'.format('fox','brown','quick', 'dog'))

The quick brown dog

In [42]:
animal = 'fox'
print('The {q} {b} {a} '.format(a = animal, b = 'brown', q = 'quick'))

The quick brown fox

In [43]:
result = 100/777

In [44]:
result

0.1287001287001287

Float formatting follows "{value:width.precision f}"

In [50]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.129

In [51]:
name = 'Jose'

In [52]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

f-string literals

In [53]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [54]:
name = 'Sam'
age = 3

In [56]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [57]:
print('{language} rules!'.format(language = 'Python'))

Python rules!

In [59]:
language = 'Python'

In [60]:
print(f'{language} rules!')

Python rules!

Lists

In [61]:
my_list = [1,2,3]

In [62]:
my_list = ['STRING', 100, 23.2]

In [63]:
len(my_list)

3

In [64]:
another_list = ['four', 'five']

In [75]:
new_list = my_list + another_list

In [76]:
new_list

['STRING', 100, 23.2, 'four', 'five']

In [77]:
new_list[0] = 'ONE'

In [78]:
new_list

['ONE', 100, 23.2, 'four', 'five']

In [79]:
new_list.append('six')

In [80]:
new_list

['ONE', 100, 23.2, 'four', 'five', 'six']

In [82]:
new_list.pop()

'six'

In [83]:
my_dict = {'key1':'value1','key2':'value2'}

In [84]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [85]:
my_dict['key1']

'value1'

In [86]:
d = {'k1' : 123 , 'k2' : [0, 1, 2], 'k3' : {'insideKey' : 100}}

In [87]:
d['k2']

[0, 1, 2]

In [88]:
d['k3']['insideKey']

100

In [89]:
d = {'key1': ['a', 'b', 'c']}

In [91]:
d['key1'][2].upper()

'C'

In [92]:
d = {'k1' : 123 , 'k2' : [0, 1, 2], 'k3' : {'insideKey' : 100}}

In [93]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [94]:
d.values()

dict_values([123, [0, 1, 2], {'insideKey': 100}])

In [95]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'insideKey': 100})])

In [96]:
t = (1, 2, 3)

In [97]:
t

(1, 2, 3)

In [98]:
t = ('one', 2)

In [99]:
t[0]

'one'

In [100]:
t[-1]

2

In [101]:
t = ('a', 'a', 'b')

In [102]:
t.count('a')

2

In [104]:
myset = {1, 2}

In [105]:
myset

{1, 2}

In [106]:
myset.add(3)

In [107]:
myset

{1, 2, 3}

In [108]:
mylist = [1,1,1,1,1,1,1,1,1,1,2,2,2,3,3,3,3,3]

In [110]:
set(mylist)

{1, 2, 3}

In [1]:
type(True)

bool

In [2]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [3]:
myfile = open('myfile.txt')

In [4]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [5]:
pwd

'c:\\Users\\johann.joseph.molano\\Documents\\Udemy - Python\\Lecture Notes'

In [6]:
myfile = open('myfile.txt')

In [7]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [11]:
myfile.seek(0)

0

In [12]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [13]:
myfile.seek(0)

0

In [14]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [17]:
myfile.close()

In [18]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [19]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [31]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [34]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [35]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [36]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [37]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [40]:
hungry = True

if hungry:
    print('FEED ME')
else:
    print('Not hungry')

FEED ME

In [43]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Banks are cool!')
elif loc == 'Store':
    print('Stores are cool!')
else:
    print('I do not know much')

I do not know much

In [44]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [45]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [50]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [54]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [55]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [56]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [57]:
len(mylist)

4

In [60]:
for a,b in mylist:
    print(b)

2
4
6
8

In [61]:
mylist = [(1,2,3),(5,6,7),(8,9,4)]

In [63]:
for a,b,c in mylist:
    print(b)

2
6
9

In [66]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(f'Key {key} has a value of {value}')

Key k1 has a value of 1
Key k2 has a value of 2
Key k3 has a value of 3

In [69]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [1]:
mystring = 'Sammy'

In [3]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [4]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [5]:
for letter in mystring:
    if letter == 'a':
        pass
    print(letter)

S
a
m
m
y

In [8]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [11]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [12]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [13]:
'x' in [1,2,3]

False

In [14]:
100 in mylist3

True

In [15]:
'a' in 'archipelago'

True

In [16]:
'mykey' in {'mykey':100}

True

In [17]:
mylist = [10,20,30,40,100]

In [18]:
min(mylist)

10

In [19]:
max(mylist)

100

In [22]:
from random import shuffle

In [23]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [26]:
shuffle(mylist)

In [27]:
mylist

[3, 8, 7, 9, 10, 5, 6, 2, 4, 1]

In [28]:
from random import randint

In [29]:
randint(0,100)

33

In [30]:
randint(0,100)

77

In [31]:
mynum = randint(0,10)

In [32]:
mynum

0

In [34]:
result = input('Enter a number here: ')

In [35]:
result

'29'

In [37]:
type(result)

str

In [40]:
result = int(result)

In [41]:
type(result)

int

In [43]:
mystring = 'hello'

In [44]:
mylist = [letter for letter in mystring]

In [45]:
mylist

['h', 'e', 'l', 'l', 'o']

In [48]:
mylist = [num**2 for num in range(0,11)]

In [49]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [52]:
mylist

[0, 2, 4, 6, 8, 10]

In [54]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [55]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]